.home_page_main_top_container {
  max-width: 1536px;
  height: auto;
  margin: auto;
  padding: 30px;
  gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Home main two section__*/

.right_side_result_main_container {
  height: 100%;
  width: 30%;
  padding: 20px;
  border-radius: 8px;
  background-color: #f7f6fc;
  border: 2px solid #ced1d4;
}

.left_side_test_info_main_container {
  height: 100%;
  width: 70%;
  border: 2px solid turquoise;
}

/* Result image section__ */

.result_section_image_container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.result_section_image_container img {
  width: 80%;
}

.result_section_image_container h2 {
  margin-top: 10px;
  font-size: 2.5rem;
  color: #5a5fbc;
  font-weight: 600;
}

.result_section_image_container p {
  color: #7b808c;
  font-size: 18px;
}